.activity-card {
    width: 200px;
    margin: 20px 5px;
    height: 100%;
}

.activity-card mat-card-header {
    min-height: 20%;
}

.activity-card mat-card-header mat-icon {
    font-size: 50px;
}

.activity-card .row {
    margin-bottom: 15px;
}

.activity-card textarea {
    padding: 2%;
    width: 96%;
    border: none;
}

.activity-card .duration {
    width: 20%;
    border: none;
    font-size: 1em;
    text-align: right;
}

.activity-card mat-slider {
    width: 90%;
}

.activity-card mat-icon {
    cursor: pointer;
    font-size: 30px;
    margin: 0 3px;
}