<mat-card [ngClass]="activityStyle">

    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon *ngIf="activity.type === ActivityType.ART">library_music</mat-icon>
            <mat-icon *ngIf="activity.type === ActivityType.FAMILY">people</mat-icon>
            <mat-icon *ngIf="activity.type === ActivityType.HOUSEWORK">home</mat-icon>
            <mat-icon *ngIf="activity.type === ActivityType.JOB">laptop_mac</mat-icon>
            <mat-icon *ngIf="activity.type === ActivityType.LEARNING">school</mat-icon>
            <mat-icon *ngIf="activity.type === ActivityType.OTHER">help_center</mat-icon>
            <mat-icon *ngIf="activity.type === ActivityType.SELF_IMPROVEMENT">self_improvement</mat-icon>
            <mat-icon *ngIf="activity.type === ActivityType.SOCIAL">person_add</mat-icon>
            <mat-icon *ngIf="activity.type === ActivityType.SPORT">directions_bike</mat-icon>
        </div>
        <mat-card-title>{{ activity.title }}</mat-card-title>
        <mat-card-subtitle>{{ activity.date | date: 'dd/MM/yyyy'}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

        <form [formGroup]="activityForm">

            <div class="row">
                <p>Description:</p>
                <textarea #description matInput cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="5"
                    readonly>{{ activity.description }}</textarea>
            </div>

            <div class="row">
                <p>Duration:</p>
                <input formControlName="duration" class="duration" matInput type="number" (blur)="setDuration()"> /
                {{ activity.expectedDuration }} min.
            </div>

            <div class="row">
                <p>Feeling:</p>
                <mat-icon (click)="setFeeling(Feeling.HORRIBLE)"
                    [ngClass]="activity.feeling === Feeling.HORRIBLE ? 'mat-primary' : ''">
                    sentiment_very_dissatisfied
                </mat-icon>
                <mat-icon (click)="setFeeling(Feeling.BAD)"
                    [ngClass]="activity.feeling === Feeling.BAD ? 'mat-primary' : ''">
                    sentiment_dissatisfied
                </mat-icon>
                <mat-icon (click)="setFeeling(Feeling.NORMAL)"
                    [ngClass]="activity.feeling === Feeling.NORMAL ? 'mat-primary' : ''">
                    sentiment_satisfied
                </mat-icon>
                <mat-icon (click)="setFeeling(Feeling.WELL)"
                    [ngClass]="activity.feeling === Feeling.WELL ? 'mat-primary' : ''">
                    sentiment_satisfied_alt
                </mat-icon>
                <mat-icon (click)="setFeeling(Feeling.EXCELENT)"
                    [ngClass]="activity.feeling === Feeling.EXCELENT ? 'mat-primary' : ''">
                    sentiment_very_satisfied
                </mat-icon>
            </div>

            <div class="row">
                <p>Perceived exertion:</p>
                <mat-slider formControlName="perceivedExertion" (change)="setPerceivedExertion()" color="primary"
                    min="0" max="10" step="1">
                </mat-slider>
                {{ activity.perceivedExertion }}
            </div>

        </form>
    </mat-card-content>
</mat-card>