.activity-card {
    
    width: 200px;
    margin: 20px 5px;
    height: 100%;

    mat-card-header {
        min-height: 20%;
        mat-icon {
            font-size: 50px;
        }
    }

    .row {
        margin-bottom: 15px;
    }

    textarea {
        padding: 2%;
        width: 96%;
        border: none;
    }

    .duration {
        width: 20%;
        border: none;
        font-size: 1em;
        text-align: right;
    }

    mat-slider {
        width: 90%;
    }

    mat-icon {
        cursor: pointer;
        font-size: 30px;
        margin: 0 3px;
    }

}

.perfect {
    background-color: lightgreen;
}

.good {
    background-color: lightyellow;
}

.almost {
    background-color: lightsalmon;
}

.fail {
    background-color: lightcoral;
}

.pending {
    background-color: #f0f0f0;
}
